<div>
  <div class="flex items-center justify-between">
		<%== rodauth.login_hidden_field %>
    <label for="login" class="block text-sm font-medium leading-6 text-gray-900"><%= rodauth.login_label %></label>
  </div>
  <div class="mt-2">
		<%= h rodauth.param(rodauth.login_param) %>
  </div>
</div>
